<table>
  <th>Manager</th>
  <th>ID</th>
  <th>Name</th>
  <th>Birthdate</th>
  <th>Balance</th>
  <th>Interest</th>
  <th>Term</th>
  <th>Tax</th>
  <th>Fees</th>
  <tr>
    <td>{{ fund.manager }}</td>
    <td>{{ fund.id }}</td>
    <td>{{ fund.name }}</td>
    <td>{{ fund.birthdate }}</td>
    <td>{{ fund.balance }}</td>
    <td>{{ fund.interest }}</td>
    <td>{{ fund.term }}</td>
    <td>{{ fund.tax }}</td>
    <td>{{ fund.fees }}</td>
  </tr>
</table>
<!-- <button (click)="deleteFund(fund.id)">Delete</button> -->
<button>Update</button>
