<div class="container">
  <div class="card">
    <h1 >{{this.fund.name}}</h1> <hr>
    <div *ngFor="let fund of tempFundList, let i = index">
      <div (click)="makeEditable(i)" *ngIf="fund[2]==false">
        <table>
            <tr>
              <th>{{fund[0]}}:</th>
              <td>{{fund[1]}}</td>
            </tr>
          </table>
      </div>
      <div *ngIf="fund[2]==true">
          <table>
            <tr>
              <th>{{fund[0]}} :</th>
              <td><input (blur)="makeStatic(i)"  [(ngModel)]= "fund[1]"/></td>
            </tr>
          </table>
      </div>
  </div>
  <button (click)="edit()">Edit Fund!</button>
  <button (click)="deleteFund()">Delete Fund!</button>

  </div>

  
  <!-- <button (click)="deleteFund(fund.id)">Delete</button> -->
  

</div>

